.sectionTitle {
  margin-block-end: 5px;
  
  font-size: 1.3em;
  font-weight: bold;
  color: #34495E;
}

.sectionTitle--light {
  color: #fff;
}

.sectionTitle--under {
  padding-block: 5px;
  
  
  border-block-end: 1px solid #34495E50;
}